*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f5f7fb;
    font-family:Arial, Helvetica, sans-serif;
}

#root{
    min-height:100vh;
}

.app{
    width:100%;
    max-width:1400px;
    margin:0 auto;
    padding:30px;
}